.banniere-about {
   
    margin-top: 61px;
  }
  
  
.banniere-about img{
    background: #000000;
    
    border-radius: 25px;
    width: 1240px;
    height: 223px;
    object-fit: cover;
  }

.about-collaps{
    margin-top: 31px;
}

.banniere-about{
  width: 1240px;
  height: 223px;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
}


@media screen and (max-width: 375px){
  
  .banniere-about{
    margin-top: 23px;
  }
  
  .banniere-about img{
    max-width: 336px;
  }

 .collaps{
  max-width: 336px;
 }

}