.carousel{
    position: relative;
    margin: 0 10px;

}
.carousel-image{
    height: 415px;
    width: 95%;
    border-radius: 25px;
    object-fit: cover;

}
.fleche-next{
    right: 3vw;
}

.fleche-prev{
    left: 3vw;
}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    
    background-color: transparent;
    border-color: transparent;
    
}

.fleche{
    max-width: 5vw;
    height: auto;
}