.carousel{
    position: relative;

}
.carousel-image{
    height: 415px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;

}
.fleche-next{
   right: 90px;
}

.fleche-prev{
    left: 80px;
}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 47px;
    height: 80px;
    background-color: transparent;
    border-color: transparent;
  
  
  
}