.carousel{
    position: relative;
    margin: 0 10px;

}
.carousel-image{
    height: 415px;
    width: 95%;
    border-radius: 25px;
    object-fit: cover;
}
.carousel-counter{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 49%;
    right: 49%;
    top: 86%;
    bottom: 6%;
}

.fleche-next{
    right: 2vw;
}

.fleche-prev{
    left: 2vw;
}

.carousel-button{
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    
    background-color: transparent;
    border-color: transparent;
    
}

.fleche{
    max-width: 5vw;
    height: auto;
}


@media screen and (max-width: 375px){
    .carousel-counter{
        display: none;
    }
}