.card-details{
    margin-top: 57px;
}
.contenu {
        display: flex;
    width: 95%;
    margin: auto;
}
.donne{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}

.info{
    text-align: left;
    color: #FF6060;
} 
.info h2{    
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

}
.info p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.collaps-detail {
    display: flex;
    gap: 20px;
    margin: auto;
    width: 95%;
    margin-top: 24px;
  }
  

.collaps-content {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}


.host{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 200px;
}
.host p{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    width: 93px;
    color: #FF6060;


}
.host img{
    width: 64px;
    height: 64px;
    border-radius: 40px;
}

.tags-content{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.tags{
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    
}

.tags li{
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

}

@media screen and (max-width: 800px){
    .contenu{
        flex-direction: column;
    }
    .tags-content{
        flex-direction: row-reverse;
        margin: auto;
        align-items: center;
    }
    .collaps-detail{
        flex-direction: column;
    }
    
    

    
}

@media screen and (max-width: 430px){
    .rating img{
        height: 13px;
        width: 13px;
    }  

    .host img{
        height: 32px;
        width: 32px;
    }

    .host p {
        font-size: 12px;
    }
    .info h2{
        font-size: 25px;
    }
    .info p{
        font-size: 14px;
    }
    .tags {
        margin-top: 0;
    }
    .tags li{
        font-size: 10px;
        margin-top: 10px;
    }
}
