header{
    margin: auto;
    width: 90%;
    padding-top: 40px;
    
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    
  }
   .Link { 
    display: flex;
    gap: 57px;
   }
  
  .Link  {
    list-style: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    
  }
  
  .Link a {
    color: #FF6060;
    text-decoration: none;
  }

  .LOGO-responsive{
    display: none;
  }

  @media screen and (max-width: 600px) {
 
.LOGO-responsive{
  display: block;
}
.LOGO{
  display: none;
}

.Link{
  font-size: 17px;
  gap: 26px;
  
}
   
    }

    @media screen and (max-width: 600px)  {
      .Link{
        font-size: 16px;
      }

      .LOGO-responsive{
        max-width: 80%;
        height: auto;
      }
    }  
   