body{
  max-width: 1440px;
  height: 1024px;
  margin: auto;
  width: 95%;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.grid-container{
  width: 1240px;
  border-radius: 25px;
  background: #F7F7F7;
  margin: auto;
  margin-top: 43px;

}

.annonce{
  padding-left: 10px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap ;
  row-gap: 50px;
  column-gap: 60px;

} 
.annonce img{
  width: 340px;
  height: 268px;
  border-radius: 10px 10px 0px 0px ;
  object-fit: cover;
  
  
}
figure{
  position: relative;
  width: 340px;
  height: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-color:#FF6060 ;
  border-radius: 10px;
}
figcaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  margin: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 20px;
}

.card {
  display: flex;
  width: 340px;
  height: 340px;
}

footer{
  margin-top: 20px;
}
 main{
  text-align: center;
  width: 95%;
  margin: auto;
 }
.banner {
  position: relative;
  margin-top: 68.36px;
  
}

.banner img{
  background: #000000;
mix-blend-mode: darken;
border-radius: 25px;
width: 1240px;
height: 223px;
object-fit: cover;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;

}

.active-link{
  text-decoration: underline !important;
}


@media screen and (max-width: 375px) {
body{
  max-width: 375px;
  width: 95%;
}
 
.annonce{
  flex-direction: column;
  padding: 0;

  
}

.banner img {
  max-width: 335px;
  max-height: 111px;
}

.banner p {
  font-size: 24px;
  max-height: 48px;
  max-width: 217px;
  line-height: 1.2em;
  white-space: pre-line;

}

.grid-container{
  max-width: 340px ;
  background-color: white;
}

figure {
  margin: 0;
}

}