body{
  width: 1440px;
  height: 1024px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.banner {
  position: relative;
  margin-top: 68.36px;
  
}

.banner img{
  background: #000000;
mix-blend-mode: darken;
border-radius: 25px;
width: 1240px;
height: 223px;
object-fit: cover;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;

}

.grid-container{
  height: 829px;
  width: 1240px;
  border-radius: 25px;
  background: #F7F7F7;
  margin: auto;
  margin-top: 43px;

}

.annonce{
  padding-top: 56px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 43px;
} 
figure{
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

